In [1]:
print('Hello Jupyter Notebook!')

Hello Jupyter Notebook!

In [3]:
1+1

2

In [5]:
1e15

1000000000000000.0

In [7]:
1e-5

1e-05

In [9]:
17

17

In [11]:
0b10001

17

In [13]:
0o21

17

In [15]:
0x11

17

In [17]:
bin(17)

'0b10001'

In [19]:
oct(17)

'0o21'

In [21]:
hex(17)

'0x11'

In [23]:
0b10*0o10+0x10-10

22

In [27]:
bin(0b10*0o10+0x10-10)

'0b10110'

In [29]:
oct(0b10*0o10+0x10-10)

'0o26'

In [31]:
hex(0b10*0o10+0x10-10)

'0x16'

In [33]:
print(True)

True

In [35]:
type(True)

bool

In [37]:
print(True and False)

False

In [39]:
print(True or False)
print(not True)

True
False

In [43]:
print(5 ==3)
print(5!=3)
print(5<3)
print(5>3)
print(5<=3)
print(5>=3)

False
True
False
True
False
True

In [45]:
print(1>0 and -2 <0)

True

In [47]:
12340*1/2

6170.0

In [49]:
12340*1/4

3085.0

In [51]:
12340*1/5

2468.0

In [53]:
abc = 12340
print(abc)

12340

In [55]:
abc

12340

In [57]:
print(abc*1/2)

6170.0

In [59]:
print("String Test")

String Test

In [61]:
string1 = "String Test 1"

In [63]:
print(string1)

String Test 1

In [65]:
string2 =' String Test 2 '
print(string2)

 String Test 2

In [67]:
type(string1)

str

In [69]:
string3 = 'This is a "double" quotation test'
print(string3)

This is a "double" quotation test

In [71]:
a = 'Enjoy '
b = 'python!'
c = a+b
print(c)

Enjoy python!

In [73]:
print(a *3)

Enjoy Enjoy Enjoy

In [75]:
student = [90,95,85,80]

In [77]:
student

[90, 95, 85, 80]

In [79]:
type(student)

list

In [83]:
student[0]

90

In [85]:
student[-1]

80

In [87]:
student[1] = 100

In [89]:
student

[90, 100, 85, 80]

In [91]:
myFriends = ['Jamees',' Robert','Lisa','Mary']

In [93]:
myFriends

['Jamees', ' Robert', 'Lisa', 'Mary']

In [95]:
myFriends[2]

'Lisa'

In [97]:
mixedList = [0,2,3.14,'python','program',True, myFriends]
mixedList

[0, 2, 3.14, 'python', 'program', True, ['Jamees', ' Robert', 'Lisa', 'Mary']]

In [99]:
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2

In [101]:
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [105]:
list_con = list_con*3

In [107]:
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [109]:
list_data = [0,1,2,3,4,5,6,7,8,9]

In [111]:
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
print(list_data[0:3])

[0, 1, 2]

In [115]:
print(list_data[4:8])

[4, 5, 6, 7]

In [117]:
print(list_data[:3])

[0, 1, 2]

In [121]:
print(list_data[7:])

[7, 8, 9]

list_data = [0,1,2,3,4,5,6,7,8,9]

In [123]:
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [125]:
del list_data[6]

In [127]:
print(list_data)

[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [129]:
list_data1 = [1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [135]:
myFriends = ['James','Robert','Lisa','Mary']
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

In [137]:
myFriends.append('Thomas')

In [139]:
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [141]:
myFriends.insert(1,'Paul')
print(myFriends)

['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [145]:
myFriends.extend(['Laura','Betty'])
print(myFriends)

['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Laura', 'Betty']

In [147]:
tuple1 = (1,2,3,4)
tuple

tuple

In [149]:
tuple1

(1, 2, 3, 4)

In [153]:
type(tuple1)

tuple

In [155]:
tuple1[1]

2

In [157]:
tuple2 = 5,6,7,8
print(tuple2)

(5, 6, 7, 8)

In [159]:
type(tuple2)

tuple

In [161]:
tuple3 = (9,)
tuple4 = 10,
print(tuple3)
print(tuple4)

(9,)
(10,)

In [163]:
tuple6=('a','b','c','d','e','f')
tuple6.index('c')

2

In [165]:
tuple7 = ('a','a','a','a','b','b','b','c','c','c')
tuple7.count('a')

4

In [167]:
set1 = {1,2,3}
set1a = {1,2,3,3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [169]:
type(set1)

set

In [171]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
A.intersection(B)

{4, 5}

In [173]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [175]:
A.difference(B)

{1, 2, 3}

In [177]:
A & B

{4, 5}

In [179]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [181]:
A -B

{1, 2, 3}

In [185]:
a =[1,2,3,4,5]
type(a)

list

In [187]:
b= tuple(a)
b

(1, 2, 3, 4, 5)

In [189]:
type(b)

tuple

In [191]:
c = set(a)
c

{1, 2, 3, 4, 5}

In [193]:
type(c)

set

In [195]:
list(b)

[1, 2, 3, 4, 5]

In [199]:
country_capital = {"영국":"런던", "프랑스":"파리","스위스":"베른","호주":"멜버른","덴마크":"코펜하겐"}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [201]:
type(country_capital)

dict

In [203]:
country_capital["영국"]

'런던'

In [207]:
dict_data1 = {1:"버스",3:"비행기",4:"택시",5:"자전거"}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [209]:
dict_data1[3]

'비행기'

In [211]:
dict_data2 = {1:10, 2:20, 3:30, 4:40, 5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [215]:
dict_data3 = {"list_data1":[11,12,13],"list_data2":[21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [217]:
mixed_dict = {1:10, 'dict_num':{1:10,2:20},"dict_list_tuple":{"A":[11,12,13],"B":(21,22,23)}, "dict_string":"이것은 책입니다."}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)},
 'dict_string': '이것은 책입니다.'}

In [219]:
country_capital["독일"]="베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [221]:
country_capital["호주"]="캔버라"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [223]:
del country_capital["덴마크"]
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [225]:
fruit_code = {"사과":101, "배":102,"딸기":103,"포도":104,"바나나":105}
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [227]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [229]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [231]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [233]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [235]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [237]:
fruit_code2={"오렌지":106,"수박":107}

In [239]:
fruit_code.update(fruit_code2)

In [241]:
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [243]:
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict

In [245]:
x = 95
if x > 90:
    print("Pass")

Pass

In [247]:
x = 75 
if x >= 90:
    print("Pass")
else:
    print("Fail")

Fail

In [249]:
x = 100
if x >= 90 : 
    if x == 100 : 
        print("Perfect")
    else: 
        print("Very Good")
elif(x>= 80) and (x < 90):
    print("GOOD")
else:
    print("BAD")

Perfect

In [253]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [255]:
myFriends = ['James','Robert','Lisa','Mary']
for myFriend in myFriends:
    print(myFriend)

James
Robert
Lisa
Mary

In [259]:
print(range(0,10,1))

range(0, 10)

In [261]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [263]:
for a in range(0,6,1):
    print(a)

0
1
2
3
4
5

In [265]:
for a in range(0,6,2):
    print(a)

0
2
4

In [267]:
print(list(range(0,10,1)))
print(list(range(0,10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [271]:
print(list(range(0,20,5)))
print(list(range(-10,0,2)))
print(list(range(3,-10,-3)))
print(list(range(0,-5,1)))

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

In [273]:
x_list=['x1','x2']
y_list=['y1','y2']
print("x y")
for x in x_list:
    for y in y_list:
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

In [277]:
names = ['James','Robert','Lisa','Mary']
scores = [95,96,97,94]

for k in range(len(names)):
    print(names[k],scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [279]:
for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

In [281]:
i=0
sum=0
print("i sum")
while (sum < 20):
    i = i + 1 
    sum = sum + i
    print(i, sum)

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [283]:
k = 0
while True : 
    k = k +1 
    if(k > 3 ) :
        break
    print(k)

1
2
3

In [285]:
for k in range(10):
    if(k > 2):
        break
    print(k)

0
1
2

In [287]:
for k in range(5):
    if(k==2):
        continue
    print(k)

0
1
3
4

In [289]:
k = 0
while True:
    k = k+1
    if(k==2):
        print("continue next")
        continue
    if(k>4):
        break
    print(k)

1
continue next
3
4

In [291]:
numbers = [1,2,3,4,5]
square = []

for i in numbers : 
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25]

In [293]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers]
print(square)

[1, 4, 9, 16, 25]

In [299]:
numbers = [1,2,3,4,5]
square = []
for i in numbers : 
    if i >= 3:
        square.append(i**2)
print(square)

[9, 16, 25]

In [301]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers if i >=3]
print(square)

[9, 16, 25]

In [305]:
print("Hello Python!!")

Hello Python!!

In [307]:
print("Best", "python","book")

Best python book

In [309]:
print("Best","python","book", sep="-:*:-")

Best-:*:-python-:*:-book

In [311]:
print("abcd"+"efg")

abcdefg

In [313]:
print("Best","python","book"+":","this book")

Best python book: this book

In [315]:
x = 10
print(x)

10

In [317]:
name = "james"
ID_num = 789
print("Name:", name + ",","ID Number:", ID_num)

Name: james, ID Number: 789

In [319]:
print("James is my friend. \nHe is Korean.")

James is my friend.
He is Korean.

In [321]:
print("Welcome to " )

Welcome to

In [323]:
print("python")

python

In [325]:
print("Welcome to " , end = "")
print("python")

Welcome to python

In [327]:
name = "광재"
print("%s는 나의 친구입니다." % name)

광재는 나의 친구입니다.

In [329]:
r = 3
PI = 3.14159265358979
print("반지름 : %d, 원주율: %f" % (r, PI))

반지름 : 3, 원주율: 3.141593

In [331]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"
print("Animal: {0}".format(animal_0))
print("Animal: {0},{1},{2}".format(animal_0, animal_1, animal_2))

Animal: cat
Animal: cat,dog,fox

In [333]:
print("Animal : {1},{2},{0}".format(animal_0, animal_1, animal_2))

Animal : dog,fox,cat

In [335]:
print("Animal: {0},{2}".format(animal_0, animal_1, animal_2))

Animal: cat,fox

In [337]:
print("Animal:{},{},{}".format(animal_0, animal_1, animal_2))

Animal:cat,dog,fox

In [339]:
name="Tomas"
age =10
a = 0.1234567890123456789
fmt_string = "String : {0}. Integer Number:{1}.Floating Number:{2}"
print(fmt_string.format(name,age, a))

String : Tomas. Integer Number:10.Floating Number:0.12345678901234568

In [341]:
a = 0.1234567890123456789
print("{0:.2f},{0:.5f}".format(a))

0.12,0.12346

In [343]:
data = input("문자열")

문자열 안녕하신가?

In [345]:
yourName = input("당신의 이름은?")
print("당신은 {}이군요.".format(yourName))

당신의 이름은? 김요한

당신은 김요한이군요.

In [347]:
num = input("숫자를 입력하세요 : ")
print("당신이 입력한 숫자는 {}입니다.".format(num))

숫자를 입력하세요 :  12

당신이 입력한 숫자는 12입니다.

In [349]:
a = input("정사각형 한변의 길이는?:")
area = int(a)**2
print("정사각형의 넓이 : {}".format(area))

정사각형 한변의 길이는?: 12

정사각형의 넓이 : 144

In [351]:
b = input("정사각형 한변의 길이는 ?:")
area = float(b)**2
print("정사각형의 넓이 : {}".format(area))

정사각형 한변의 길이는 ?: 12

정사각형의 넓이 : 144.0

In [353]:
c = input("정사각형 한변의 길이는?:")
area = float(c)**2
print("정사각형의 넓이 : {}".format(area))

정사각형 한변의 길이는?: 3

정사각형의 넓이 : 9.0

In [359]:

f = open('myFile.txt','w')
f.write('This is my first file.')
f.close()

In [361]:
!type myFile.txt

This is my first file.

In [367]:
f = open('myFile.txt','r') 
file_text = f.read()
f.close()

print(file_text)

This is my first file.

In [369]:
f = open('two_times_table.txt','w')
for num in range(1,6):
    format_string = "2 * {0} = {1}\n".format(num,2*num)
    f.write(format_string)
f.close()

In [371]:
!type two_times_table.txt

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [373]:
f = open("two_times_table.txt")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, end="")
print(line2, end="")

2 * 1 = 2
2 * 2 = 4

In [375]:
f = open("two_times_table.txt")
line = f.readline()
while line : 
    print(line, end = "")
    line = f.readline()
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [377]:
f = open("two_times_table.txt")
lines = f.readlines()
f.close()
print(lines)

['2 * 1 = 2\n', '2 * 2 = 4\n', '2 * 3 = 6\n', '2 * 4 = 8\n', '2 * 5 = 10\n']

In [379]:
f = open("two_times_table.txt")
lines = f.readlines()
f.close()
print(lines)

['2 * 1 = 2\n', '2 * 2 = 4\n', '2 * 3 = 6\n', '2 * 4 = 8\n', '2 * 5 = 10\n']

In [381]:
f = open("two_times_table.txt")
lines = f.readlines()
f.close()
for line in lines:
    print(line, end="")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [383]:
f = open("two_times_table.txt")
for line in f.readlines():
    print(line, end="")
    f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [385]:
f = open("two_times_table.txt")
for line in f:
    print(line, end="")
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [387]:
f = open('myTextFile.txt','w')
f.write('File write/read test.')
f.close()

In [389]:
f = open('myTextFile.txt','r')
test = f.read()
f.close()
print(test)

File write/read test.

In [391]:
with open('C:/Users/user1/git/BOOK_PYTHON_DATA/myTextFile2.txt','w') as f:
    f.write('File read/write test2: line1\n')
    f.write('File read/write test2: line2\n')
    f.write('File read/write test2: line3\n')

In [393]:
with open('C:/Users/user1/git/BOOK_PYTHON_DATA/myTextFile2.txt') as f:
    file_string = f.read()
    print(file_string)

File read/write test2: line1
File read/write test2: line2
File read/write test2: line3

In [395]:
with open('C:/Users/user1/git/BOOK_PYTHON_DATA/myTextFile2.txt','w') as f:
    for num in range(1,6):
        format_string = "3 * {0} = {1}\n".format(num,3*num)
        f.write(format_string)

In [397]:
with open('C:/Users/user1/git/BOOK_PYTHON_DATA/myTextFile2.txt','r') as f:
    for line in f:
        print(line, end="")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

In [399]:
def my_func():
    print("My first function!")
    print("This is a function.")

In [401]:
my_func()

My first function!
This is a function.

In [403]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [405]:
my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [409]:
def my_student_info(name, school_ID, phoneNumber):
    print("--------------------")
    print("-학생이름:",name)
    print("-학급번호:", school_ID)
    print("-전화번호:", phoneNumber)

In [411]:
my_student_info("현아","01","01-235-6789")
my_student_info("진수","02","01-987-6543")

--------------------
-학생이름: 현아
-학급번호: 01
-전화번호: 01-235-6789
--------------------
-학생이름: 진수
-학급번호: 02
-전화번호: 01-987-6543

In [413]:
def my_student_info(name, school_ID, phoneNumber):
    print("****************")
    print("*학생이름:",name)
    print("*학급번호:", school_ID)
    print("*전화번호:",phoneNumber)

In [417]:
my_student_info("현아","01","01-235-6789")
my_student_info("진수","02","01-987-6543")

****************
*학생이름: 현아
*학급번호: 01
*전화번호: 01-235-6789
****************
*학생이름: 진수
*학급번호: 02
*전화번호: 01-987-6543

In [421]:
def my_calc(x,y):
    z = x*y
    return z

In [423]:
my_calc(3,4)

12

In [437]:
def my_student_info_list(student_info):
    print("**************")
    print("*학생이름:",student_info[0])
    print("*학급번호:",student_info[1])
    print("*전화번호:",student_info[2])
    print("**************")

In [439]:
student1_info = ["현아","01","01-235-6789"]
my_student_info_list(student1_info)

**************
*학생이름: 현아
*학급번호: 01
*전화번호: 01-235-6789
**************

In [441]:
my_student_info_list(["진수","02","01-987-6543"])

**************
*학생이름: 진수
*학급번호: 02
*전화번호: 01-987-6543
**************

In [455]:
a = 5
def func1():
    a = 1
    print("[func1] 지역변수 a =",a)

In [445]:
def func2():
    a = 2
    print("[func2] 지역변수 a= ",a)

In [447]:
def func3():
    print("[func3] 전역변수 a = ", a)

In [449]:
def func4():
    global a 
    a = 4
    print("[func4] 전역변수 a = ",a)

In [457]:
func1()
func2()
print("전역변수 a = " , a)

[func1] 지역변수 a = 1
[func2] 지역변수 a=  2
전역변수 a =  5

In [459]:
func3()
func4()
func3()

[func3] 전역변수 a =  5
[func4] 전역변수 a =  4
[func3] 전역변수 a =  4

In [461]:
(lambda x : x**2) (3)

9

In [463]:
mySquare = lambda x  : x**2
mySquare(2)

4

In [465]:
mySquare(5)

25

In [467]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

In [469]:
[int(0.123), int(3.5123456), int(-1.312367)]

[0, 3, -1]

In [471]:
[int('123'), int('5678'),int('-9012')]

[123, 5678, -9012]

In [473]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [475]:
[float('10'), float('0.123'),float('-567.89')]

[10.0, 0.123, -567.89]